@model IEnumerable<SecondWeb.Models.Services>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            Action.
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <a href="/Services1/Edit/@item.id" type="button" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                <a href="/Services1/Details/@item.id" type="button" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                <a href="/Services1/Delete/@item.id" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
</table>