@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Data.DataTable dt = SecondWeb.Models.Procs.OurPortfolioProc();
}
<main>
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Portfolio</h1>
                    <p>Enim saepe beatae re</p>
                </div>
            </div>
        </div>
    </div>
    @for (int i = 0; i < dt.Rows.Count; i++)
    {
        if (i % 2 == 0)
        {
            <div class="site-section">
                <div class="container">

                    <div class="half d-md-flex align-items-stretch" style=" margin-top: -98px;">
                        <div class="img " style="background-image: url('../../Assets/images/work_1.jpg')">
                        </div>
                        <div class="half-content align-self-center">
                            <h3>@dt.Rows[i]["Heading"].ToString()</h3>
                            <p>@dt.Rows[i]["Details"].ToString()</p>
                            <p>
                                <strong>Client:</strong>@dt.Rows[i]["Client"].ToString()<br>
                                <strong>Date:</strong>@dt.Rows[i]["Date"].ToString()
                            </p>
                            <a href="#">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {

            <div class="half d-md-flex align-items-stretch" style="margin-top: -98px; margin-right: 84px">
                <div class="img order-md-2" style="background-image: url('../../Assets/images/work_2.jpg')">
                </div>
                <div class="half-content align-self-center" style="margin-left: 80px;">
                    <h3>@dt.Rows[i]["Heading"].ToString()</h3>
                    <h3>@dt.Rows[i]["Details"].ToString()</h3>
                    <p></p>
                    <p>
                        <strong>Client:</strong>@dt.Rows[i]["Client"].ToString()<br>
                        <strong>Date:</strong>@dt.Rows[i]["Date"].ToString()
                    </p>
                    <a href="#"> View Case Study</a>
                </div>
            </div>
        }

    }

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-4">
                    <div class="testimonial">
                        <img src="../../Assets/images/person_1.jpg" alt="Image" class="img-fluid">
                        <div class="mb-3">
                            <h3>Steve Jobs</h3>
                            <span>Co-Founder</span>
                        </div>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, aut veniam. Ut minus, possimus quisquam cupiditate magnam nisi pariatur..</blockquote>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-4">
                    <div class="testimonial">
                        <img src="../../Assets/images/person_2.jpg" alt="Image" class="img-fluid">
                        <div class="mb-3">
                            <h3>John Doe</h3>
                            <span>Co-Founder</span>
                        </div>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, aut veniam. Ut minus, possimus quisquam cupiditate magnam nisi pariatur..</blockquote>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-4">
                    <div class="testimonial">
                        <img src="../../Assets/images/person_3.jpg" alt="Image" class="img-fluid">
                        <div class="mb-3">
                            <h3>John Smith</h3>
                            <span>Co-Founder</span>
                        </div>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus, aut veniam. Ut minus, possimus quisquam cupiditate magnam nisi pariatur..</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
